*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

body {
  &.notScrollable {
    overflow-x: hidden;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
